<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Работа с новостями</title>
  <link rel="stylesheet" href="{% static 'stylesheets/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/app.css' %}">
  <script src="{% static 'javascripts/modernizr.foundation.js' %}"></script>
  <link rel="stylesheet" href="{% static 'fonts/ligature.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
</head>
<body>
<nav>
     <div class="twelve columns header_nav">
     <div class="row">
                 <ul id="menu-header" class="nav-bar horizontal">

        <li><a href="{% url 'news:index' %}">Главная</a></li>
        </ul>
      </div>
      </div>
</nav>
<form method="post" style="width:300px">
    {% csrf_token %}
        <p>Выберите рубрику</p>
        {{ form.rubNum_id }}
        <p>Напишите название</p>
        {{ form.title }}
        <p>Напишите описание</p>
        {{ form.keywords }}
        <p>Напишите содержимое новости</p>
        {{ form.annotation }}
        <p>Выберите хэштеги</p>
        {{ form.hashtags }}

    <button type="submit">Добавить новость</button>
</form>
<p>Список новостей</p>
  <ul>
    {% for article in articles %}
      <li>
        {{ article.title }}
        <a href="{% url 'news:delete_article' article.id %}">Удалить</a>
      </li>
    {% endfor %}
  </ul>

</body>
</html>